<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="article.title"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
        <a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <!-- <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a> -->
    </div>    
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="article.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="article.user.displayName"></span>
        </em>
    </small>

    <p class="lead" data-ng-bind="article.content"></p>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Reviews</div>
                <div class="panel-body">
                    <div class="list-group">
                        <div ng-repeat="grade in article.grades" class="list-group-item">
                            <small class="list-group-item-text">
                                By
                                <span data-ng-bind="grade.userName"></span>
                            </small>
                            <span class="h4"><span class="label label-info pull-right">Grade: {{grade.grade}}</span></span>
                            <p class="list-group-item-text" ng-bind="grade.comment"></p>
                        </div>        

                        <form name="gradeForm"
                          class="form-horizontal col-md-12"
                          data-ng-submit="addReview(gradeForm.$valid)"
                          ng-show="!hasCommented && authentication.user._id != article.user._id"
                          novalidate>
                            <fieldset>
                                <div class="form-group"
                                  ng-class="{ 'has-error' : submitted && gradeForm.comment.$invalid}">
                                    <label class="control-label" for="comment">Review</label>
                                    <div class="controls">
                                        <textarea 
                                          name="comment" 
                                          data-ng-model="grade.comment"
                                          id="comment"
                                          class="form-control"
                                          placeholder="Comment"
                                          rows="7" 
                                          required>
                                        </textarea>
                                    </div>
                                    <div ng-show="submitted && gradeForm.comment.$invalid" class="help-block">
                                        <p ng-show="gradeForm.comment.$error.required" class="text-danger">Comment is required</p>
                                    </div>
                                </div>
                                <div class="form-group"
                                 ng-class="{ 'has-error' : submitted && gradeForm.grade.$invalid}">
                                    <lavel class="conrol-label" for="grade">Grade</lavel>
                                    <div class="control">
                                        <select name="grade" class="form-control" ng-model="grade.grade" required>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                        </select>                        
                                    </div>
                                     <div ng-show="submitted && gradeForm.grade.$invalid" class="help-block">
                                        <p ng-show="gradeForm.grade.$error.required" class="text-danger">
                                        Grade is required</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Comment" class="btn btn-warning">
                                </div>
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </fieldset>
                        </form>
                        
                        
                        <div class="col-md-6 comment-box" ng-show="hasCommented">
                            <span class="h4">Your review</span>
                            <p ng-bind="grade.comment"></p>
                            <span class="h4"><span class="label label-info">Grade: {{grade.grade}}</span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">History</div>
              <div class="panel-body">
                <button class="btn btn-primary" 
                    ng-click="loadHistory(article)"
                    ng-hide="history">Show old versions</button>
              </div>

              <!-- List group older versions -->
              <div class="list-group">
                <a class="list-group-item"
                    ng-repeat="revision in history"
                    ng-href="#!/articles/revision/{{revision._id}}">
                        <small class="list-group-item-text">
                            Edited on
                            <span data-ng-bind="revision.created | date:'medium'"></span>
                        </small>
                        <span class="badge">{{revision.grades.length}} reviews</span>
                        <h4 class="list-group-item-heading">Version {{revision.version}}</h4>
                        <p class="list-group-item-text" data-ng-bind="revision.title"></p>
                </a>
              </div>
            </div>
        </div>
    </div>
</section>